# CHAPTER14 DataFrame을 이용한 데이터 클렌징

## 14.1 CSV

### 14.1.1 Pandas로 CSV 읽기

- CSV(commoa-separated values)
- 데이터를 쉼표로 구분하여 저장한 데이터

In [1]:
import pandas as pd

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)
df.columns = ['', 'alcohol', 'malic acid', 'ash', 'alcalinity of ash', 'magnesium', 'total phenols', 'flavanoids', 'nonflavanoid phenols', 
              'proanthocyanins', 'color intensity', 'hue', 'OD280/0D315 of diluted wines', 'proline']

df

,,alcohol,malic acid,ash,alcalinity of ash,magnesium,total phenols,flavanoids,nonflavanoid phenols,proanthocyanins,color intensity,hue,OD280/0D315 of diluted wines,proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### 14.1.2 CSV 라이브러리로 CSV 만들기

In [2]:
import csv

with open('csv0.csv', 'w') as csvfile:
    writer = csv.writer(csvfile, lineterminator='\n')

    writer.writerow(['city', 'year', 'season'])
    writer.writerow(['Nagano', 1998, 'winter'])
    writer.writerow(['Sydney', 2000, 'summer'])
    writer.writerow(['Salt Lake City', 2002, 'winter'])
    writer.writerow(['Athens', 2004, 'summer'])
    writer.writerow(['Torino', 2006, 'winter'])
    writer.writerow(['Beijing', 2008, 'summer'])
    writer.writerow(['Vancouver', 2010, 'winter'])
    writer.writerow(['London', 2012, 'summer'])
    writer.writerow(['Sochi', 2014, 'winter'])
    writer.writerow(['Rio de Janeiro', 2016, 'summer'])

### 14.1.3 Pandas로 CSV 만들기

In [3]:
import csv
import pandas as pd

data = {"city": ["Nagano", "Sydney", "Salt Lake City", "Athens", "Torino", "Beijing", "Vancouver", "London", "Sochi", "Rio de Janeiro"],
        "year": [1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016],
        "season": ["winter", "summer", "winter", "summer", "winter", "summer", "winter", "summer", "winter", "summer"]}

df = pd.DataFrame(data)

df.to_csv("csv1.csv")

In [4]:
import pandas as pd

data = {"OS": ["Machintosh", "Windows", "Linux"],
        "release": [1984, 1985, 1991],
        "country": ["US", "US", ""]}
#
df = pd.DataFrame(data)
df.to_csv("OSlist.csv")

## 14.2 DataFrame 복습

In [5]:
import pandas as pd
from pandas import Series, DataFrame

attri_data1 = {"ID": ["100", "101", "102", "103", "104", "106", "108", "110", "111", "113"],
               "city": ["Tokyo", "Osaka", "Kyoto", "Hokkaido", "Tokyo", "Tokyo", "Osaka", "Kyoto", "Hokkaido", "Tokyo"],
               "birth_year": [1990, 1989, 1992, 1997, 1982, 1991, 1988, 1990, 1995, 1981],
               "name": ["Hiroshi", "Akiko", "Yuki", "Satoru", "Steeve", "Mituru", "Aoi", "Tarou", "Suguru", "Mitsuo"]}

attri_data_frame1 = DataFrame(attri_data1)

##
attri_data2 = {"ID"  : ["107", "109"],
               "city": ["Sendai", "Nagoya"],
               "birth_year": [1994, 1988]}
attri_data_frame2 = DataFrame(attri_data2)

attri_data_frame1 = attri_data_frame1.append(attri_data_frame2).sort_values(by='ID', ascending=True).reset_index(drop=True)
attri_data_frame1

     ID      city  birth_year     name
0   100     Tokyo        1990  Hiroshi
1   101     Osaka        1989    Akiko
2   102     Kyoto        1992     Yuki
3   103  Hokkaido        1997   Satoru
4   104     Tokyo        1982   Steeve
5   106     Tokyo        1991   Mituru
6   107    Sendai        1994      NaN
7   108     Osaka        1988      Aoi
8   109    Nagoya        1988      NaN
9   110     Kyoto        1990    Tarou
10  111  Hokkaido        1995   Suguru
11  113     Tokyo        1981   Mitsuo

## 14.3 결측치

### 14.3.1 리스트와이즈 삭제와 페어와이즈 삭제

- 데이터가 누락된 행을 통째로 지우는 것을 리스트와이즈 삭제라고 한다
- 결손이 적은 열만 남기는 것을 페어와이즈 삭제라 한다

In [6]:
from numpy import nan as NA
import numpy as np


sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0] = NA
sample_data_frame.iloc[2,2] = NA
sample_data_frame.iloc[5:,3] = NA
sample_data_frame

          0         1         2         3
0  0.655364  0.511011  0.862835  0.254645
1       NaN  0.884401  0.194404  0.245273
2  0.269083  0.349293       NaN  0.774015
3  0.768263  0.367924  0.811695  0.649170
4  0.320791  0.282265  0.886566  0.052103
5  0.430275  0.551577  0.500949       NaN
6  0.756418  0.743134  0.737885       NaN
7  0.163176  0.168280  0.751653       NaN
8  0.607621  0.617545  0.199687       NaN
9  0.055298  0.859368  0.376783       NaN

In [7]:
sample_data_frame.dropna()

          0         1         2         3
0  0.655364  0.511011  0.862835  0.254645
3  0.768263  0.367924  0.811695  0.649170
4  0.320791  0.282265  0.886566  0.052103

In [8]:
sample_data_frame[[0,1,2]].dropna()

          0         1         2
0  0.655364  0.511011  0.862835
3  0.768263  0.367924  0.811695
4  0.320791  0.282265  0.886566
5  0.430275  0.551577  0.500949
6  0.756418  0.743134  0.737885
7  0.163176  0.168280  0.751653
8  0.607621  0.617545  0.199687
9  0.055298  0.859368  0.376783

In [9]:
np.random.seed(0)

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0] = NA
sample_data_frame.iloc[2,2] = NA
sample_data_frame.iloc[5:,3] = NA

sample_data_frame[[0,2]].dropna() # 원하는 열만 남김

          0         2
0  0.548814  0.602763
3  0.568045  0.071036
4  0.020218  0.778157
5  0.978618  0.461479
6  0.118274  0.143353
7  0.521848  0.264556
8  0.456150  0.018790
9  0.612096  0.943748

### 14.3.2 결측치 보완

- drop으로 결측치를 삭제하는 방법도 있지만 대체할 값을 넣는 방법도 있다

In [10]:
sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0] = NA
sample_data_frame.iloc[2,2] = NA
sample_data_frame.iloc[5:,3] = NA

sample_data_frame.fillna(0)

          0         1         2         3
0  0.359508  0.437032  0.697631  0.060225
1  0.000000  0.670638  0.210383  0.128926
2  0.315428  0.363711  0.000000  0.438602
3  0.988374  0.102045  0.208877  0.161310
4  0.653108  0.253292  0.466311  0.244426
5  0.158970  0.110375  0.656330  0.000000
6  0.196582  0.368725  0.820993  0.000000
7  0.837945  0.096098  0.976459  0.000000
8  0.976761  0.604846  0.739264  0.000000
9  0.282807  0.120197  0.296140  0.000000

In [11]:
sample_data_frame.fillna(method='ffill')

          0         1         2         3
0  0.359508  0.437032  0.697631  0.060225
1  0.359508  0.670638  0.210383  0.128926
2  0.315428  0.363711  0.210383  0.438602
3  0.988374  0.102045  0.208877  0.161310
4  0.653108  0.253292  0.466311  0.244426
5  0.158970  0.110375  0.656330  0.244426
6  0.196582  0.368725  0.820993  0.244426
7  0.837945  0.096098  0.976459  0.244426
8  0.976761  0.604846  0.739264  0.244426
9  0.282807  0.120197  0.296140  0.244426

In [12]:
sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0] = NA
sample_data_frame.iloc[6:,2] = NA


sample_data_frame.fillna(method='ffill')

          0         1         2         3
0  0.317983  0.414263  0.064147  0.692472
1  0.317983  0.265389  0.523248  0.093941
2  0.575946  0.929296  0.318569  0.667410
3  0.131798  0.716327  0.289406  0.183191
4  0.586513  0.020108  0.828940  0.004695
5  0.677817  0.270008  0.735194  0.962189
6  0.248753  0.576157  0.735194  0.572252
7  0.223082  0.952749  0.735194  0.846409
8  0.699479  0.297437  0.735194  0.396506
9  0.881103  0.581273  0.735194  0.692532

### 14.3.3 결측치 보완(평균값 대입법)

- 결측치를 열, 행의 평균값으로 대체하기도 한다

In [13]:
sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0] = NA
sample_data_frame.iloc[2,2] = NA
sample_data_frame.iloc[5:,3] = NA

sample_data_frame.fillna(sample_data_frame.mean())

          0         1         2         3
0  0.725254  0.501324  0.956084  0.643990
1  0.609113  0.606393  0.019193  0.301575
2  0.660174  0.290078  0.379321  0.428769
3  0.135474  0.298282  0.569965  0.590873
4  0.574325  0.653201  0.652103  0.431418
5  0.896547  0.367562  0.435865  0.479325
6  0.806194  0.703889  0.100227  0.479325
7  0.714241  0.998847  0.149448  0.479325
8  0.162493  0.615560  0.123820  0.479325
9  0.807319  0.569101  0.407183  0.479325

In [14]:
np.random.seed(0)

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0] = NA
sample_data_frame.iloc[6:,2] = NA

sample_data_frame.fillna(sample_data_frame.mean())

          0         1         2         3
0  0.548814  0.715189  0.602763  0.544883
1  0.531970  0.645894  0.437587  0.891773
2  0.963663  0.383442  0.791725  0.528895
3  0.568045  0.925597  0.071036  0.087129
4  0.020218  0.832620  0.778157  0.870012
5  0.978618  0.799159  0.461479  0.780529
6  0.118274  0.639921  0.523791  0.944669
7  0.521848  0.414662  0.523791  0.774234
8  0.456150  0.568434  0.523791  0.617635
9  0.612096  0.616934  0.523791  0.681820

## 14.4 데이터 요약

### 14.4.1 키별 통계량 산출

In [15]:
import pandas as pd

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)
df.columns = ['', 'alcohol', 'malic acid', 'ash', 'alcalinity of ash', 'magnesium', 'total phenols', 'flavanoids', 'nonflavanoid phenols', 
              'proanthocyanins', 'color intensity', 'hue', 'OD280/0D315 of diluted wines', 'proline']

df['alcohol'].mean()

13.00061797752809

In [16]:
df['magnesium'].mean()

99.74157303370787

### 14.4.2 중복 데이터

- duplicated() 메서드를 사용하면 중복된 행을 True로 표시한다
- 출력 결과는 Series형이다

In [17]:
dupli_data = pd.DataFrame({'col1':[1,1,2,3,4,4,6,6],
                           'col2':['a','b','b','b','c','c','b','b']})
dupli_data

   col1 col2
0     1    a
1     1    b
2     2    b
3     3    b
4     4    c
5     4    c
6     6    b
7     6    b

In [18]:
dupli_data.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
dtype: bool

In [19]:
dupli_data.drop_duplicates()

   col1 col2
0     1    a
1     1    b
2     2    b
3     3    b
4     4    c
6     6    b

### 14.4.3 매핑

- 매핑은 공통의 키 역할을 하는 데이터의 값을 가져오는 처리

In [20]:
attri_data1 = {'ID' : ['100', '101', '102', '103', '104', '106', '108', '110', '111', '113'],
               'city':['서울', '부산', '대전', '광주', '서울', '서울', '부산', '대전', '광주', '서울'],
               'birth_year':[1990,1989,1992,1997,1982,1991,1988,1990,1995,1981],
               'name':['영이', '순돌', '짱구', '태양', '션', '유리', '현아', '태식', '민수', '호식']}

attri_df = pd.DataFrame(attri_data1)
attri_df

    ID city  birth_year name
0  100   서울        1990   영이
1  101   부산        1989   순돌
2  102   대전        1992   짱구
3  103   광주        1997   태양
4  104   서울        1982    션
5  106   서울        1991   유리
6  108   부산        1988   현아
7  110   대전        1990   태식
8  111   광주        1995   민수
9  113   서울        1981   호식

- 위의 attri_df의 city컬럼을 기반으로 대응하는 지역명을 새 컬럼으로 추가하는 것을 매핑 처리라 한다

In [21]:
city_map = {'서울':'서울',
            '광주':'전라도',
            '부산':'경상도',
            '대전':'충청도'}
attri_df['region'] = attri_df['city'].map(city_map)
attri_df

    ID city  birth_year name region
0  100   서울        1990   영이     서울
1  101   부산        1989   순돌    경상도
2  102   대전        1992   짱구    충청도
3  103   광주        1997   태양    전라도
4  104   서울        1982    션     서울
5  106   서울        1991   유리     서울
6  108   부산        1988   현아    경상도
7  110   대전        1990   태식    충청도
8  111   광주        1995   민수    전라도
9  113   서울        1981   호식     서울

In [23]:
MS = {'서울':'중부',
      '대전':'중부',
      '광주':'남부',
      '부산':'남부'
      } 

attri_df['MS'] = attri_df['city'].map(MS)
attri_df

    ID city  birth_year name region  MS
0  100   서울        1990   영이     서울  중부
1  101   부산        1989   순돌    경상도  남부
2  102   대전        1992   짱구    충청도  중부
3  103   광주        1997   태양    전라도  남부
4  104   서울        1982    션     서울  중부
5  106   서울        1991   유리     서울  중부
6  108   부산        1988   현아    경상도  남부
7  110   대전        1990   태식    충청도  중부
8  111   광주        1995   민수    전라도  남부
9  113   서울        1981   호식     서울  중부

### 14.4.4 구간 분할
- 이산 범위의 데이터를 분할하여 집계할 경우 사용하는 기능
- 구간을 분할할 리스트를 준비하고, pandas의 cut()함수로 처리한다

In [24]:
attri_data1 = {'ID' : ['100', '101', '102', '103', '104', '106', '108', '110', '111', '113'],
               'city':['서울', '부산', '대전', '광주', '서울', '서울', '부산', '대전', '광주', '서울'],
               'birth_year':[1990,1989,1992,1997,1982,1991,1988,1990,1995,1981],
               'name':['영이', '순돌', '짱구', '태양', '션', '유리', '현아', '태식', '민수', '호식']}

attri_df = pd.DataFrame(attri_data1)
attri_df

    ID city  birth_year name
0  100   서울        1990   영이
1  101   부산        1989   순돌
2  102   대전        1992   짱구
3  103   광주        1997   태양
4  104   서울        1982    션
5  106   서울        1991   유리
6  108   부산        1988   현아
7  110   대전        1990   태식
8  111   광주        1995   민수
9  113   서울        1981   호식

In [25]:
birth_year_bins = [1980,1985,1990,1995,2000]

birth_year_cut_data = pd.cut(attri_df.birth_year, birth_year_bins)
birth_year_cut_data

0    (1985, 1990]
1    (1985, 1990]
2    (1990, 1995]
3    (1995, 2000]
4    (1980, 1985]
5    (1990, 1995]
6    (1985, 1990]
7    (1985, 1990]
8    (1990, 1995]
9    (1980, 1985]
Name: birth_year, dtype: category
Categories (4, interval[int64, right]): [(1980, 1985] < (1985, 1990] < (1990, 1995] < (1995, 2000]]

In [27]:
pd.value_counts(birth_year_cut_data)

(1985, 1990]    4
(1990, 1995]    3
(1980, 1985]    2
(1995, 2000]    1
Name: birth_year, dtype: int64

In [28]:
group_names = ['first1980', 'second1980', 'first1990', 'second1990']
birth_year_cut_data = pd.cut(attri_df.birth_year, birth_year_bins, labels=group_names)
pd.value_counts(birth_year_cut_data)

second1980    4
first1990     3
first1980     2
second1990    1
Name: birth_year, dtype: int64

In [29]:
pd.cut(attri_df.birth_year, 2)

0      (1989.0, 1997.0]
1    (1980.984, 1989.0]
2      (1989.0, 1997.0]
3      (1989.0, 1997.0]
4    (1980.984, 1989.0]
5      (1989.0, 1997.0]
6    (1980.984, 1989.0]
7      (1989.0, 1997.0]
8      (1989.0, 1997.0]
9    (1980.984, 1989.0]
Name: birth_year, dtype: category
Categories (2, interval[float64, right]): [(1980.984, 1989.0] < (1989.0, 1997.0]]

In [34]:
attri_data1 = {'ID' : [100,101,102,103,104,106,108,110,111,113],
               'city':['서울', '부산', '대전', '광주', '서울', '서울', '부산', '대전', '광주', '서울'],
               'birth_year':[1990,1989,1992,1997,1982,1991,1988,1990,1995,1981],
               'name':['영이', '순돌', '짱구', '태양', '션', '유리', '현아', '태식', '민수', '호식']}

attri_data_frame1 = pd.DataFrame(attri_data1)

pd.cut(attri_data_frame1.ID, 2)

0    (99.987, 106.5]
1    (99.987, 106.5]
2    (99.987, 106.5]
3    (99.987, 106.5]
4    (99.987, 106.5]
5    (99.987, 106.5]
6     (106.5, 113.0]
7     (106.5, 113.0]
8     (106.5, 113.0]
9     (106.5, 113.0]
Name: ID, dtype: category
Categories (2, interval[float64, right]): [(99.987, 106.5] < (106.5, 113.0]]

### 연습문제

In [49]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)
df.columns = ['', 'alcohol', 'malic acid', 'ash', 'alcalinity of ash', 'magnesium', 'total phenols', 'flavanoids', 'nonflavanoid phenols', 
              'proanthocyanins', 'color intensity', 'hue', 'OD280/0D315 of diluted wines', 'proline']

# df_ten = df.iloc[:10]
df_ten = df.head(10)
df_ten

,,alcohol,malic acid,ash,alcalinity of ash,magnesium,total phenols,flavanoids,nonflavanoid phenols,proanthocyanins,color intensity,hue,OD280/0D315 of diluted wines,proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045

In [37]:
df_ten.iloc[1,0] = NA
df_ten.iloc[2,3] = NA
df_ten.iloc[4,8] = NA
df_ten.iloc[7,3] = NA
df_ten

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,,alcohol,malic acid,ash,alcalinity of ash,magnesium,total phenols,flavanoids,nonflavanoid phenols,proanthocyanins,color intensity,hue,OD280/0D315 of diluted wines,proline
0,1.0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,NaN,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1.0,13.16,2.36,NaN,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1.0,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1.0,13.24,2.59,2.87,21.0,118,2.80,2.69,NaN,1.82,4.32,1.04,2.93,735
5,1.0,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,1.0,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,1.0,14.06,2.15,NaN,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,1.0,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,1.0,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045

In [40]:
df_ten.fillna(df_ten.mean())

,,alcohol,malic acid,ash,alcalinity of ash,magnesium,total phenols,flavanoids,nonflavanoid phenols,proanthocyanins,color intensity,hue,OD280/0D315 of diluted wines,proline
0,1.0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.280000,2.29,5.64,1.04,3.92,1065
1,1.0,13.20,1.78,2.14,11.2,100,2.65,2.76,0.260000,1.28,4.38,1.05,3.40,1050
2,1.0,13.16,2.36,2.41,18.6,101,2.80,3.24,0.300000,2.81,5.68,1.03,3.17,1185
3,1.0,14.37,1.95,2.50,16.8,113,3.85,3.49,0.240000,2.18,7.80,0.86,3.45,1480
4,1.0,13.24,2.59,2.87,21.0,118,2.80,2.69,0.282222,1.82,4.32,1.04,2.93,735
5,1.0,14.20,1.76,2.45,15.2,112,3.27,3.39,0.340000,1.97,6.75,1.05,2.85,1450
6,1.0,14.39,1.87,2.45,14.6,96,2.50,2.52,0.300000,1.98,5.25,1.02,3.58,1290
7,1.0,14.06,2.15,2.41,17.6,121,2.60,2.51,0.310000,1.25,5.05,1.06,3.58,1295
8,1.0,14.83,1.64,2.17,14.0,97,2.80,2.98,0.290000,1.98,5.20,1.08,2.85,1045
9,1.0,13.86,1.35,2.27,16.0,98,2.98,3.15,0.220000,1.85,7.22,1.01,3.55,1045

In [41]:
df_ten['alcohol'].mean()

13.953999999999999

In [42]:
df_ten.append(df_ten.loc[3])
df_ten.append(df_ten.loc[6])
df_ten.append(df_ten.loc[9])
df_ten = df_ten.drop_duplicates()
df_ten

,,alcohol,malic acid,ash,alcalinity of ash,magnesium,total phenols,flavanoids,nonflavanoid phenols,proanthocyanins,color intensity,hue,OD280/0D315 of diluted wines,proline
0,1.0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,NaN,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1.0,13.16,2.36,NaN,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1.0,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1.0,13.24,2.59,2.87,21.0,118,2.80,2.69,NaN,1.82,4.32,1.04,2.93,735
5,1.0,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,1.0,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,1.0,14.06,2.15,NaN,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,1.0,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,1.0,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045

In [43]:
al_bins = [0,5,10,15,20,25]
al_cut_data = pd.cut(df_ten.alcohol, al_bins)

In [45]:
al_cut_data

0    (10, 15]
1    (10, 15]
2    (10, 15]
3    (10, 15]
4    (10, 15]
5    (10, 15]
6    (10, 15]
7    (10, 15]
8    (10, 15]
9    (10, 15]
Name: alcohol, dtype: category
Categories (5, interval[int64, right]): [(0, 5] < (5, 10] < (10, 15] < (15, 20] < (20, 25]]

In [46]:
pd.value_counts(al_cut_data)

(10, 15]    10
(0, 5]       0
(5, 10]      0
(15, 20]     0
(20, 25]     0
Name: alcohol, dtype: int64